---
import { Image } from "astro:assets";

import { type teamMember } from "@config/types/configDataTypes";

const { image, name, title, bio } = Astro.props as teamMember;
---

<div class="w-full">
  <div class="bg-base-50 dark:bg-base-800 h-full rounded-md px-10 py-8 text-center">
    <Image
      src={image}
      alt={name}
      height={320}
      class="mx-auto mb-6 aspect-square size-24 rounded-full object-cover"
    />
    <h3 class="h2 mb-2 font-semibold">{name}</h3>
    <span class="text-primary-500 mb-6 inline-block text-lg font-medium">{title}</span>
    <p class="description">{bio}</p>
  </div>
</div>
